
div {
    height: 50px;
    /width:300px;/
  }
  .row1{
    margin: 20px;
    background-color: rgb(235, 232, 232);
    height: 140px;
    text-align: center;
  }
  .row2 {
    margin: 20px;
    background-color: rgb(235, 232, 232);
    height: 200px;
    text-align: center;
  }
  
  .row3,
  .row4,
  .row5,
  .row6 {
    margin: 20px;
    background-color: rgb(235, 232, 232);
    width: 40vh;
    height: 50px;
    text-align: center;
  }
  
  .four,
  .two {
    display: flex;
  }
  .row7,
  .row8,
  .row9 {
    margin: 10px;
    background-color: rgb(235, 232, 232);
    text-align: center;
  }
  .row7 {
    margin-top: 50px;
    height: 50vh;
    width: 60%;
  }
  .row8 {
    margin-top: 50px;
    height: 20vh;
    width: 70vh;
  }
  .row9 {
   height:28vh;
  }
  .two {
    margin: 20px;
  }