div {
    height: 50px;
    /width: 300px;/
  }
  .row1,
  .row2 {
    margin: 20px;
    background-color: gray;
    height: 50px;
  }
  
  .row3,
  .row4,
  .row5,
  .row6 {
    margin: 20px;
    background-color: gray;
    width: 40vh;
    height: 50px;
  }
  .four,
  .two {
    display: flex;
  }
  .row7,
  .row8,
  .row9 {
    margin: 10px;
    background-color: gray;
  }
  .row7 {
    margin-top: 50px;
    height: 50vh;
    width: 50%;
  }
  .row8 {
    margin-top: 50px;
    height: 40.5vh;
    width: 90vh;
  }
  .two {
    margin: 20px;
  }